{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url({{banner_image.image.url}});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center">

          <div class="col-md-7 col-sm-12 text-center ftco-animate">
              <h1 class="mb-3 mt-5 bread">Blog</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Blog</span></p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          
          <h2 class="mb-3">{{blog_single.heading}}</h2>
          <p>{{blog_single.details}}</p>
          <p>
            <img src="{{blog_single.image.url}}" alt="" class="img-fluid">
          </p>
          
          
          


          <div class="pt-5 mt-5">
            <h3 class="mb-5">Comments</h3>
            <ul class="comment-list">
                {% for item in comment %}
              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>{{item.name}}</h3>
                  <div class="meta">{{item.date}}</div>
                  <p>{{item.description}}</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
                
                </li>
              
                {% endfor %}
              </div>
            
            <!-- END comment-list -->
            
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <form action="{% url 'comment' blog_single.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" name="email">
                </div>
                

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="description" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>
                {{ form.errors }}
              </form>
            </div>
          </div>
         <!-- .col-md-8 -->
        
         <div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <h3>Popular Post</h3>
              {% for item in popular %}
              <div class="block-21 mb-4 d-flex">
                <div class="text">
                    <li class="mb-2"><a href="{% url 'blogSingle' item.pk %}">{{item.heading}}</a></li>  <div class="meta">
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
        
  </section>
      
 <!-- .section -->

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function() {
        $('#blog').parent().find( 'li.active' ).removeClass( 'active' );
        $('#blog').addClass( 'active' );
});
</script>
{% endblock %}