{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="home-slider owl-carousel">
  {% for item in banner_image %}
    <div class="slider-item" style="background-image: url({{item.image.url}});">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">

          <div class="col-md-5 col-sm-12 ftco-animate">
            <h1 class="mb-4">{{item.heading}}</h1>
            <p class="mb-4 mb-md-5">{{item.description}}</p>
            <p><a href="#appointment" class="btn btn-primary p-3 px-xl-4 py-xl-3">Get Started Now</a></p>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
    </section>

  <section class="ftco-intro">
      <div class="container-wrap">
          <div class="wrap d-md-flex justify-content-end align-items-xl-end">
              <div class="info">
                  <div class="row no-gutters">
                      <div class="col-md-4 d-flex ftco-animate">
                          <div class="icon"><span class="icon-phone"></span></div>
                          <div class="text">
                              <h3>000 (123) 456 7890</h3>
                              <p>A small river named Duden flows by their place and supplies.</p>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex ftco-animate">
                          <div class="icon"><span class="icon-my_location"></span></div>
                          <div class="text">
                              <h3>198 West 21th Street</h3>
                              <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex ftco-animate">
                          <div class="icon"><span class="icon-clock-o"></span></div>
                          <div class="text">
                              <h3>Open Monday-Friday</h3>
                              <p>8:00am - 9:00pm</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="ftco-about d-md-flex">
      <div class="one-half img" style="background-image: url({{introduction.image.url}});">
          <a href="{{introduction.video}}" class="icon popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play"></a>
        </a>
      </div>
      <div class="one-half ftco-animate">
      <div class="heading-section ftco-animate ">
        <h2 class="mb-4">Welcome to <span>BodyFit</span></h2>
      </div>
      <div>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
            </div>
      </div>
  </section>

  <section class="ftco-section ftco-bg-dark">
      <div class="container">
          <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Services</span>
          <h2 class="mb-4">Our Process</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
          <div class="row">
              {% for item in process %}
        <div class="col-md-3 ftco-animate">
            
          <div class="media d-block text-center block-6 services">
            <div class="icon d-flex justify-content-center align-items-center mb-5">
                <span class="flaticon-{{item.icon_name}}"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">{{item.heading}}</h3>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>      
  </section>
 
  <section class="ftco-section">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6 pr-md-5">
                  <div class="heading-section text-md-right ftco-animate">
                <span class="subheading">Programs</span>
              <h2 class="mb-4">Fitness Programs</h2>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <p><a href="{% url 'program' %}" class="btn btn-primary btn-outline-primary px-4 py-3">View Full Programs</a></p>
            </div>
              </div>
              <div class="col-md-6">
                {% for item in program%}
                  <div class="program d-flex ftco-animate">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="flaticon-{{item.icon_name}}"></span>
                          </div>
                          <div class="text ml-5">
                              <h3>{{item.heading}}</h3>
                              <p>{{item.description}}</p>
                          </div>
                    </div>
                    {% endfor %}
              </div>
          </div>
      </div>
  </section>

  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url({{counter_image.image.url}});" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-10">
              <div class="row">
                <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="{{counter.happy_customer}}">0</strong>
                        <span>Happy Customers</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="{{counter.perfect_bodies}}">0</strong>
                        <span>Perfect Bodies</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="{{counter.working_hours}}">0</strong>
                        <span>Working Hours</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="{{counter.success_stories}}">0</strong>
                        <span>Success Stories</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Trainer</span>
          <h2 class="mb-4">Our Coaches</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
          <div class="row">
            {% for item in coaches %}
              <div class="col-lg-6 d-flex">
                  <div class="coach d-sm-flex align-items-stretch">
                      <div class="img" style="background-image: url({{item.image.url}});"></div>
                      <div class="text py-4 px-5 ftco-animate">
                          <span class="subheading">{{item.position}}</span>
                          <h3><a href="#">{{item.name}}</a></h3>
                          <p>{{item.description}}</p>
                          <ul class="ftco-social-media d-flex mt-4">
                  <li class="ftco-animate"><a target ="_blank" href="{{item.twitter_link}}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a target ="_blank" href="{{item.facebook_link}}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a target ="_blank" href="{{item.instagram_link}}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                </ul>
                          <p></p>
                      </div>
                  </div>
              </div>
              {% endfor %}
              
          </div>
      </div>
  </section>

  <section class="ftco-section img" id="ftco-testimony" style="background-image: url({{testimony_image.image.url}});"  data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
              <span class="subheading">Testimony</span>
            <h2 class="mb-4">Customers Says</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="container-wrap">
        <div class="row d-flex no-gutters">
            {% for item in testimony %}
          <div class="col-lg align-self-sm-end ftco-animate">
            
            <div class="testimony">
               <blockquote>
                  <p>&ldquo;{{item.description}}&rdquo;</p>
                </blockquote>
                <div class="author d-flex mt-4">
                  <div class="image mr-3 align-self-center">
                    <img src="{{item.image.url}}" alt="">
                  </div>
                  <div class="name align-self-center">{{item.name}} <span class="position">{{item.position}}</span></div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Packages</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row">
        {% for item in packages %}
          <div class="col-md-6 col-lg-4">
              <div class="package-program ftco-animate">
                  <div class="img" style="background-image: url({{item.image.url}});"></div>
                  <div class="text mt-4">
                      <h3>{{item.class_heading}}</h3>
                      <span class="d-block mb-4">{{item.duration}}</span>
                      <p>{{item.class_details}}</p>
                      <div class="d-flex mt-4">
                          <p class="price"><sup>$</sup>{{item.price}}<sub> / Year</sub></p>
                          <p class="btn-custom float-right"><a href="#appointment">Enroll Now</a></p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
          </div>
      </div>
        </div>
    </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Recent from blog</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row d-flex">
      {%for item in blog_single %}
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="{% url 'blogSingle' item.pk %}" class="block-20" style="background-image: url({{item.image.url}});">
            </a>
            <div class="text py-4 d-block">
                <div class="meta">
                <div><a href="{% url 'blogSingle' item.pk %}">{{item.image}}</a></div>
                <div><a href="{% url 'blogSingle' item.pk %}">{{item.posted_by}}</a></div>
                <div><a href="{% url 'blogSingle' item.pk %}" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a href="#">{{item.heading}}</a></h3>
              <p>{{item.details|linebreaks|truncatechars:200}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
      
  <section class="ftco-section ftco-gallery ftco-no-pt">
    <div class="container-fluid px-4">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-3">Gallery</h2>
        </div>
      </div>
      <div class="row">
          {% for item in gallery %}
        <div class="col-md-3 ftco-animate">
          <a href="{{ item.image.url }}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{ item.image.url }});">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-instagram"></span>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
     
      
      <section class="ftco-appointment">
          <div class="overlay"></div>
      <div class="container-wrap">
          <div class="row no-gutters d-md-flex align-items-center">
              <div class="col-md-6 d-flex align-self-stretch">
                  <div id="map"></div>
              </div>
              <div id='appointment' class="col-md-6 appointment ftco-animate">
                  <h3 class="mb-3">Book a Appointment</h3>
                  <form action="{% url 'appointment' %}" class="appointment-form" method="POST">
                    {% csrf_token %}
                      <div class="d-md-flex">
                          <div class="form-group">
                              <input type="text" name="F_name" class="form-control" placeholder="First Name">
                          </div>
                          <div class="form-group ml-md-4">
                              <input type="text" name = "L_name" class="form-control" placeholder="Last Name">
                          </div>
                      </div>
                      <div class="d-md-flex">
                          <div class="form-group">
                              <div class="input-wrap">
                          <div class="icon"><span class="ion-md-calendar"></span></div>
                          <input type="text" name="date" class="form-control appointment_date"  placeholder="Date">
                      </div>
                          </div>
                          <div class="form-group ml-md-4">
                              <div class="input-wrap">
                          <div class="icon"><span class="ion-ios-clock"></span></div>
                          <input type="text" name="time" class="form-control appointment_time" placeholder="Time">
                      </div>
                          </div>
                          <div class="form-group ml-md-4">
                              <input type="text" name="phone_no" class="form-control" placeholder="Phone">
                          </div>
                      </div>
                      <div class="d-md-flex">
                          <div class="form-group">
                    <textarea name="message" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group ml-md-4">
                    <input type="submit" value="Appointment" class="btn btn-primary py-3 px-4">
                  </div>
                      </div>
                      {{ form.errors }}
                  </form>
              </div>    			
          </div>
      </div>
  </section>
  <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
    </div>
  
  </div>
  {% endblock %}
 
  {% block scripts %}
  <script>
      // Get the modal
      var modal = document.getElementById("myModal");
            
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      
      // When the user clicks the button, open the modal 
      $("#myBtn").click(function(){
        var image_url = $(this).css('background-image').replace('url(', '').replace(')', '');
        var image_tag = '<img src=' + image_url + '>';
        console.log(image_tag);
        $('.modal-content').prepend(image_tag);
        modal.style.display = "block";

      });
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        var prev_img = $('.modal-content').find('img');
        prev_img.remove();
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          var prev_img = $('.modal-content').find('img');
          prev_img.remove();
          modal.style.display = "none";
        }
      }
      </script>  
      {% endblock %}
      